<h1>Longest Word Game!</h1>
<h2>Your Result:</h2>
<h3>Your Attempt: <%=@attempt%>
<h3>Your Score: <%=@result[:score]%>
<h3>Your Time: <%=@result[:time]%>
<h3><%=@result[:message]%><h3>

<%=link_to("Play again",new_path)%>
